*{
    margin: 0px;
    padding: 0px;
}
.nav{
    display: flex;
    padding-top: 15px;
    height: 40px;
    padding-left: 100px;
}
.nav #logo{
    height: 40px;
}
.nav .search input{
    padding: 5px;
    width: 500px;
    font-size: 18px;
    border: #f0f5ff;
    background-color:#f0f5ff;
    border-radius: 8px;
    margin-left: 33px;
}
.nav .login{
    margin-left:33px;
}
.nav #cart{
    margin-left: 33px;
}
.nav #cell{
    margin-left:33px;
}
.nav span{
    margin-left: 12px;
}
.section1{
    margin-top: 32px;
    width: 96%;
    background-color: #f5fae8;
    margin-left: 33px;
    height: 140px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section1 img{
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
    object-fit: cover;
}
.section1 img:hover{
    width: 40px;
}
.section1 .first-row {
    margin: 15px;
}
.slider{
    margin-top:32px;
    margin-left: 22px;
    margin-right: 22px;
}
.Electric span{
    margin-bottom:230px; 
    display: block;
    font-size: 22px;
}
.light{
    margin-top: 32px;
    width: 96%;
    background-color: #f5fae8;
    margin:22px;
    height:330px;
}
.light h3{
    font-size: 22px;
}
.Electric {
    display: flex;
    align-items: center;
    margin-top: 22px;
}
.Electronics{
    margin-left:38px;
}
.Electronics img{
    width: 150px;
    height: 180px;
}
#trimer img{
    height: 180px;
    width: 110px;
}
.Electronics span{
    font-size:15px;
    margin-top: 12px;
    text-align: center;
}
.Beauty{
    margin-top: 32px;
    width: 96%;
    background-color: #f5fae8;
    margin:22px;
    height:330px;
}
.Beauty h3{
    font-size: 22px;
}
.Beautyfood{
    display: flex;
    align-items: center;
    margin-top: 22px;
}
.Toys{
    margin-left:38px;
}
.Toys img{
    width: 150px;
    height: 180px;
}
.Toys span{
    font-size:15px;
    margin-top: 12px;
    text-align: center;
}
 .Boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 100%;
}
.box1{
    height: 500px;
    width: 32%;
    background-color:rgb(255, 217, 238);
}
.box2{
    height: 500px;
    width: 32%;
    background-color: rgb(217, 188, 255);
}
.box3{
    height: 500px;
    width: 32%;
    background-color: rgb(255, 217, 238);
}
.Boxes h3{
    margin-top: 33px;
    font-size: 22px;
    margin-left: 12px;
}
.Boxes img{
    margin-top: 22px;
    margin-left: 15px;
}
.Boxes span{
    margin-left: 50px;
    color: rgb(22, 33, 1);
}
.summery{
    width: 98%;
    margin-left: 12px;
    background-color: #d5d1d1;
    margin-top: 23px;
}
.footer{
    margin-top: 12px;
    background-color: black;
    color: rgb(221, 220, 219);
}





